:root {
  --white:#ffffff;
  --gray: #D5CABD;
  --brown: #936C00;
  --spacer: 4em;
  --double-spacer: 8rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--brown);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
